.table1
{
  border: 1px solid black;
  width: 80%;
  text-align: center;
}


.tabel1_th{
  border: 1px solid black;
}


.tabel1_td {
  border: 1px solid black;
}

/* table,
th,
td {
  border: 1px solid black;
} */















/* FOCUS ON ABOVE THIS COMMENT FOR TODAY'S CLASS */



.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
